.box
  %h1.bottom Dashboard

%h2.bottom
  %div{ :style => 'float: right' }= link_to image_tag('add.png'), new_match_path(:return_to => root_path)
  Your Matches
  
%table.matches
  %thead
    %tr
      %th.span-4 Date
      %th.span-17 Match
      %th.span-1 Scoring
      %th.span-2
  %tbody
    - @matches.each do |match|
      = match.to_s :tr

%h2.bottom
  %div{ :style => 'float: right' }= link_to image_tag('add.png'), new_team_path(:return_to => root_path)
  Your Teams
%table.teams
  %thead
    %tr
      %th.span-1 Team
      %th.span-23 Players
  %tbody
    - @teams.each_with_index do |team, team_counter|
      = team.to_s :tr, :locals => {:team_counter => team_counter}
