- content_tag_for :tr, @team, :class => eo(team_counter) do
  %td= link_to gravatar, @team, :title => @team.name
  %td= @team.memberships.all(:include => :player).map! { |m| m.to_s :linked_gravatar } * '&nbsp;'
