[submodule "vendor/misc/blueprint-css"]
	path = vendor/misc/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/action_sequence"]
	path = vendor/plugins/action_sequence
	url = /Users/florian/dev/rails-plugins/vendor/plugins/action_sequence/
[submodule "vendor/plugins/shadows"]
	path = vendor/plugins/shadows
	url = git://github.com/boof/shadows.git
