!!! Strict

%html
  %head
    <title>Bend</title>

    <meta content='text/javascript' http-equiv='content-script-type' />
    <meta content='text/css' http-equiv='content-style-type' />
    <meta content='text/html; charset=utf-8' http-equiv='content-type' />

    <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection">

  %body
    .container= yield
